.ChatPage{
  display: flex;
  justify-content: space-between;
}

.leftBar{
  border: 1px solid black;
  width: 30%;
  height: 70vh;
  padding: 20px;
}

.rightBar{
  border: 1px solid black;
  width: 70%;
  height: 70vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.InputForm{
  border: 1px solid black;
  margin: 0;
  width: 100%;
  padding: 20px;
}
.MessageBlock{
  overflow-y: scroll;
}